html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

p {
    margin: 0;
    padding: 0;
}

body {
    min-width: 320px;
    overflow-x: hidden;
    background-color: white;
    font-family: "PTSans", sans-serif;
    font-weight: 700;
}

.container {
    max-width: 1230px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.d-flex {
    display: flex;
}

.logo__img {
    height: 50px;

    @include minw576 {
        height: 60px;
    }

    @include minw768 {
        height: 65px;
    }

    @include minw992 {
        height: 70px;
    }

    @include minw1200 {
        height: 98px;
    }
}

.swiper-pagination-bullet {
    width: 20px;
    height: 20px;

    background-color: white;

    &+& {
        margin-left: 38px;
    }

    @include minw768 {
        width: 30px;
        height: 30px;
    }

    @include minw992 {
        width: 46px;
        height: 46px;
    }
}