.header{
    padding: 9px 0 10px;
    background-color: #0072bc;

    @include minw1200 {
        height: 125px;
    }

    &__inner{
        justify-content: space-between;
        align-items: center;
    }

    &__order{
        padding: 10px 30px 10px 15px;
        font-size: 16px;
        color: #fdfafa;
        background-color: #f26522;
        transition: opacity 0.2s;

        &:hover{
            opacity: 0.8;
        }

        @include minw768 {
            font-size: 18px;
        }

        @include minw992 {
            padding: 15px 50px 18px 30px;
            font-size: 20px;
        }

        @include minw1200 {
            min-width: 250px;
            padding: 17px 60px 19px 34px;
            font-size: 22px;
        }
    }
}